
header{
  padding:10px 0 ;
}

.navbar{
  
  width:100%; 
  padding:10px 0; 
}


.navbar li{
  display: inline-block;
  width:calc(100%/3);
 text-align: center; 
}

.login_form{
  width:100%; 
}

.login_form_label{
  width:100%; 
}
.home{

  background-color:#e5f6f7;
  width: 100%;
  height: 100vh;
}

.footer{
  position: absolute;
  bottom: 10px; 
  width: 100%; 
  text-align: center;
}

.aside{
  float: left;
  width: 20%;  
}

.rightaside{
  width: 20%;
  float:right;
  padding: 0 10px 0 40px
}

.contact_item{
  padding: 5px 0; 
}
/* .clearfix{
  clear:both;
} */

.main_orgside{
  position:relative;
  width: 54%;
  float:left;
  border: 1px solid black;
} 

.organisation_logo{
  position: absolute;
  top: 0; 
  right: 0;
}

.organisation_description{
  margin-top: 20px; 
}