
header{
  padding:10px 0 ;
}






.footer{
  position: absolute;
  bottom: 10px; 
  width: 100%; 
  text-align: center;
}

.aside{
  float: left;
  width: 20%;  
}

.rightaside{
  width: 20%;
  float:right;
  padding: 0 10px 0 40px
}

.contact_item{
  padding: 5px 0; 
}
/* .clearfix{
  clear:both;
} */

.main_orgside{
  position:relative;
  width: 54%;
  float:left;
  border: 1px solid black;
} 

