* {
  margin: 0; 
  padding: 0; 
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background-color: lightgray; 
}
.navbar ul{
  list-style: none;
}

.navbar li{
  display: inline-block;
  padding: 0 30px; 
}

.home{

  background-color:#e5f6f7;
  width: 100%;
  height: 100vh;
}

.footer{
  position: absolute;
  bottom: 10px; 
  width: 100%; 
  text-align: center;
}

.aside{
  float: left;
  width: 30%;  
}

/* .clearfix{
  clear:both;
} */

.main_orgside{
  width: 70%;
  float:left;
}