* {
  margin: 0; 
  padding: 0; 
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul{
  list-style: none;
}
.navbar{
  background-color: lightgray; 
}


.navbar li{
  display: inline-block;
  padding: 0 30px; 
}

.home{

  background-color:#e5f6f7;
  width: 100%;
  height: 100vh;
}

.footer{
  position: absolute;
  bottom: 10px; 
  width: 100%; 
  text-align: center;
}

.aside{
  float: left;
  width: 20%;  
}

.rightaside{
  width: 20%;
  float:right;
  padding: 0 10px 0 40px
}

.contact_item{
  padding: 5px 0; 
}
/* .clearfix{
  clear:both;
} */

.main_orgside{
  position:relative;
  width: 54%;
  float:left;
  border: 1px solid black;
} 

.organisation_logo{
  position: absolute;
  top: 0; 
  right: 0;
}

.organisation_description{
  margin-top: 20px; 
}