@import "../style/breakpoints.scss";
@import "../style/variables.scss";

.maincard {
  height: 100vh;
  margin: 0 -50px 0 -50px;

  @media screen and (max-width: $breakpoint-medium) {
    margin: 0 -20px 0 -20px;
  }

  @media screen and (max-width: $breakpoint-small) {
     margin: 0; // -10px 0 -10px;
  }
}
.maincard .rightaside,
.maincard .main_orgside,
.maincard .aside
{
  float:left; 
  @media screen and (max-width: $breakpoint-small) {
    clear:both;
    display: block; 
  }
}


.aside {
  width: 20%;
  padding-left: 5px; 
  @media screen and (max-width: $breakpoint-small) {
    width: 100%;
  }
}

.rightaside {
  width: 20%;

  padding: 0 10px 0 40px;

  @media screen and (max-width: $breakpoint-medium) {
    padding: 0;
    padding-left:2px; 
    padding-top: 40px;
    padding-bottom: 40px; 
  }
  @media screen and (max-width: $breakpoint-small) {
    width: 100%;
    padding-left:0; 
  }
}

.contact_item {
  padding: 5px 0;
}
.message{
  margin: 20px 0; 
  width:100%;
   
  &-box{   
    border-radius: 10px;  
 
    &_hascontent{
      border: 4px solid  #ff0000;
      padding:3px;     
    }
  
    &_nocontent{
      border: 4px solid  rgb(255, 231, 149);
      padding:3px; 
    }
  }
  
}



.main_orgside {
  position: relative;
  width: 60%;

  @media screen and (max-width: $breakpoint-small) {
    width: 100%;
  }
}

.clearfix{
  clear:both; 
  display: block; 
}
