@import '../style/breakpoints.scss';
@import '../style/variables.scss';

* {
    margin: 0; 
    padding: 0; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  html{
    width:100%; 
    height:100%; 
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto','Segoe UI', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
      // font-family: 'Roboto',sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e5f6f7;
    font-size: 18px; 
    width: 100%; 
    min-height:100%;
    position:relative; 
    line-height: 1.4;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  ul{
    list-style: none;
  }

h1{
  font-size: 2.5rem; 
}

