

* {
    margin: 0; 
    padding: 0; 
 
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto','Segoe UI', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e5f6f7; 
    font-size: 18px; 
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  ul{
    list-style: none;
  }

  .container{ 
      width: 70%; 
      padding: 5px 10px; 
      border:1px solid red; 
      margin: 0 auto; 
  }