@import '../style/breakpoints.scss';
@import '../style/variables.scss';

.home{
 

    .home-titel {
      width: 60%; 
      margin: 0 auto; 
      text-align:center; 

      @media screen and (max-width: $breakpoint-small) {
        width: 90%;
    }
    }

    .home-content{
      width: 60%; 
      margin: 0 auto; 
      padding: 20px 0 20px 0; 

      @media screen and (max-width: $breakpoint-small) {
        width: 90%;
    }
    }
 
  }