@import '../style/breakpoints.scss';
@import '../style/variables.scss';

.home{
   // background-color:#e5f6f7;
    // width: 100%;
    // height: 100vh;

    .home-titel {
      width: 60%; 
      margin: 0 auto; 
      text-align:center; 
    }

    .home-content{
      width: 60%; 
      margin: 0 auto; 
      padding: 20px 0 20px 0; 
    }
 
  }