@import '../style/breakpoints.scss';
@import '../style/variables.scss';


.top-bar{
    // background-color:  #C5DCDB; 
    @extend %container;
   padding-top: 20px;
   padding-bottom: 20px; 

   .header{
     padding-top: 20px;
     padding-bottom: 20px;  
   }

   .sitetitel{
     width: 50%; 
     margin: 0 auto; 
     text-align: center;
     padding: 20px 0 20px 0; 
   }
   .sitelogo{
     font-size: 36px; 
     font-weight: 700;
     position:relative; 
     padding-top: 20px; 

     @media screen and (max-width: $breakpoint-small) {
      font-size: 26px; 
  }
   }

   .sitelogo-icon{
     width: 15px; 
     position: absolute; 
     bottom: -4px; 
     color: #d97575; 
     margin-left: 6px; 
   }

}

.footer{
  clear:both; 
    position: relative;
    bottom: 0; 
    height:50px; 
    padding-top: 40px; 
    padding-bottom: 30px; 
    max-width: 100%; 
    text-align: center;
    @extend %container;
  }

  .main{
    @extend %container;
    min-height: 100vh; 
    padding-bottom: 100px; 
    padding-top: 20px; 
   }