@import '../style/breakpoints.scss';
@import '../style/variables.scss';

// .mainlogin{
//     @extend %container;
// }

.ingress{
    margin: 0 auto; 
    width: 50%; 
    
    @media screen and (max-width: $breakpoint-small) {
        width: 80%;
    }
}

.ingress_title{
    text-align: center; 
    padding: 10px 0; 
}


.login_form{
    width:50%; 
    border: 1px solid black; 
    text-align: center; 
    margin: 0 auto; 
    background-color: #f7bec8; 
    padding: 30px; 
    margin-top: 60px; 

    @media screen and (max-width: $breakpoint-small) {
        width: 85%;
        padding: 10px;
    }
  }
  
  .login_form_group{
      padding: 10px; 
  }
  .login_form_label{
    width:100%; 
  }

  .login_form_input{
      padding:12px; 
      border:none; 
      width: 70%; 
      margin-top:10px; 
      font-size: 1rem; 

      @media screen and (max-width: $breakpoint-small) {
        width: 95%;
    }
  }

  .login_form_button{
      width:30%; 
      padding: 15px; 
      font-size: 1rem; 

      @media screen and (max-width: $breakpoint-small) {
        width: 50%;
        padding: 10px;
    }
  }

