@import '../style/breakpoints.scss';
@import '../style/variables.scss';

.navbar-wrapper{
   @extend %container;
    width:100%; 
    padding:10px 0; 
  }
  
  .navbar-main{
      padding:10px; 

    //   @media screen and (max-width: $breakpoint-medium) {
    //     width: 40%; 
    // }
    @media screen and (max-width: $breakpoint-small) {
      padding: 0; 
    }
  }
  .navbar-item{
    display: inline-block;
    width:calc(100%/3);
    text-align: center; 
    text-decoration: none; 
  }

  .navbar-item a:link {
    text-decoration: none;
    color: #000000; 
    letter-spacing: 1px;
    font-size: 20px; 
    text-transform: uppercase;
    font-weight: 700;

  //   @media screen and (max-width: $breakpoint-medium) {
  //     width: 40%; 
  // }
    @media screen and (max-width: $breakpoint-small) {
      font-size: 16px;  
  }
  }
  
  .navbar-item a:visited {
    text-decoration: none;
    color: #000000; 
  }
  
 .navbar-item a:hover {
    text-decoration: underline;
    color: #000000; 
  }
  
  .navbar-item a:active {
    text-decoration: underline;
    color:#d97575 
  }

  .logout-button{
    background-color:rgb(255, 231, 149);
    padding: 10px; 
    border:none; 
    border-radius: 10px; 
    text-transform: uppercase; 
    transition: all 0.3s;

    &:hover{
      background-color: #ffffff;
      letter-spacing: 0.7px;
    }
  }