@import '../style/breakpoints.scss';
@import '../style/variables.scss';

.navbar-wrapper{
   @extend %container;
    width:100%; 
    padding:10px 0; 
  }
  
  .navbar-main{
      padding:10px; 
  }
  .navbar-item{
    display: inline-block;
    width:calc(100%/3);
    text-align: center; 
    text-decoration: none; 
  }

  .navbar-item a:link {
    text-decoration: none;
    color: #000000; 
  }
  
  .navbar-item a:visited {
    text-decoration: none;
    color: #000000; 
  }
  
 .navbar-item a:hover {
    text-decoration: underline;
    color: #000000; 
  }
  
  .navbar-item a:active {
    text-decoration: underline;
    color:red; 
  }