@import '../style/breakpoints.scss';
@import '../style/variables.scss';

.orderview{
    padding: 20px 0; 
}
.order{
    width: 100%; 
   
}

.orderpart_main{
    width: 65%; 
    float:left;
}

.orderpart_aside{
    float:right; 
    width: 30%; 
    padding-left: 30px; 

    @media screen and (max-width: $breakpoint-small) {
       padding-left:0;
       font-size: 12px;
    }
}

.orderpart_content{
    margin-top:20px; 
}

.orderpart_contentitem{
    margin-top: 10px; 
}