.orderview{
    padding: 20px 0; 
}
.order{
    width: 100%; 
   
}

.orderpart_main{
    width: 65%; 
    float:left;
}

.orderpart_aside{
    float:right; 
    width: 30%; 
    
}

.orderpart_content{
    margin-top:20px; 
}

.orderpart_contentitem{
    margin-top: 10px; 
}