@import '../style/breakpoints.scss';
@import '../style/variables.scss';

.organisation_logo{
    width:30%;
    height: auto;
    object-fit: cover;

    @media screen and (max-width: $breakpoint-medium) {
        width: 40%; 
    }
    @media screen and (max-width: $breakpoint-small) {
        width: 50%; 
    }

  }
  
  .organisation_description{
    margin-top: 20px; 
  }