.projectview{
    padding: 20px 0; 
}
.project{
    width: 100%; 
   
}

.projectpart_main{
    width: 65%; 
    float:left;
}

.projectpart_content{
    margin-top:20px; 
}

.projectpart_contentitem{
    margin-top:10px; 
}
.projectpart_aside{
    float:right; 
    width: 30%; 
    
}