@import '../style/breakpoints.scss';
@import '../style/variables.scss';

.sidebarmenu ul{

    @media screen and (max-width: $breakpoint-small) {
        display: inline-block; 
    }

}

.sidebaritem{
    padding:50px 0; 
}

.navbutton{
    width: 80%; 
    border: none; 
    background-color: rgb(255, 231, 149);
    padding: 5px; 
    word-break: break-word;
    text-transform: uppercase;
    overflow: hidden;
    text-align: left;
    border-radius: 10px; 
    transition: all 0.3s;

    &:hover{
        background-color: #ffffff;
    }
}